# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.venv/

# Environment
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Temp audio
*.wav

# PyInstaller build
build/
dist/
*.spec
